{% extends "blog/base.html" %}

{% block content %}
<article class="media content-section">
    <div class="media-body">
        <div class="article-metadata">
            <a class="mr-2" href="#">{{ object.author }}</a>
            <small class="text-muted">{{ object.date_posted }}</small>
        </div>
        <h2 class="article-title">{{ object.title }}</h2>
        <p class="article-content">{{ object.content }}</p>
        <br><br>
        <hr>
        <form action="{% url 'like-post' post.pk %}" method="POST">
            {% csrf_token %}
        {% if user.is_authenticated %} 
            {% if liked %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-danger btn-sm">Unlike</button>
            {% else %}
                <button type="submit", name="post_id", value="{{ post.id }}", class="btn btn-primary btn-sm">Like</button>
            {% endif %}
        {% else %}
        <small> Login to like</small>
        {% endif %}
            -{{total_likes}} Likes
        </form>
    </div>
</article>
{% endblock content %}